# src
dev_ws/src/
mcu_ws/src/
host_ws/src/
agent_ws/src/
extension/src/
ertps_ws/src/
docker_ws/src/
# tool
toolchain/
# colcon build system
colcon_dev
colcon_mcu
colcon_agent
*_ws/build/
*_ws/install/
*_ws/log/
# temp files
ros2.repos
.vscode/.cortex-debug.*
.dev_bash_hist
